[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
ipykernel = "*"
scipy = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
thinc = "*"
torch ="*"
scikit-image = "*"
scikit-learn = "*"
torchvision = "*"
opencv-python-headless = "*"
opencv-contrib-python = "*"
runway-python = "*"
gdown = "*"
pillow = "*"


[dev-packages]

[requires]
python_version = "3.6"
